/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;

    background: url('images/back.jpeg') no-repeat center center fixed;
    background-size: cover;
}


body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

nav {
    background: #2d3748;
    padding: 15px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

nav a {
    color: #f1f5f9;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

nav a:hover {
    color: #06b6d4;
}

.container {
    max-width: 900px;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

h1, h2 {
    margin-bottom: 15px;
    color: #2d3748;
}
form input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    transition: 0.3s;
}

form input:focus {
    border-color: #06b6d4;
    outline: none;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    background: #06b6d4;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #0891b2;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    overflow: hidden;
    border-radius: 10px;
}

th {
    background: #2d3748;
    color: white;
}

th, td {
    padding: 12px;
    text-align: center;
}

tr:nth-child(even) {
    background: #f1f5f9;
}

/* Action Buttons */
td button {
    margin: 3px;
    padding: 6px 10px;
    font-size: 12px;
}

td button:nth-child(1) {
    background: #10b981;
}

td button:nth-child(2) {
    background: #f59e0b;
}

td button:nth-child(3) {
    background: #ef4444;
}